$tablet: 1140px;
$mobile: 713px;
// primary
$midnight-green: #014E56;
$light-coral: #F67E7E;
$white: #fff;

// secondary
$rapture-blue: #79C8C7;
$police-blue: #2C6269;
$deep-jungle-green: #004047;
$sacramento-state-green: #012F34;
$dark-green: #002529;